*/.terraform
*/terraform.tfstate
*/terraform.tfstate.backup
*/.terraform.lock.hcl
*/.terraform.tfstate.lock.info
*/.env
environment/**/.terraform
environment/**/terraform.tfstate
environment/**/terraform.tfstate.backup
environment/**/.terraform.lock.hcl
environment/**/.terraform.tfstate.lock.info
environment/**/.env
global/**/.terraform
global/**/terraform.tfstate
global/**/terraform.tfstate.backup
global/**/.terraform.lock.hcl
global/**/.terraform.tfstate.lock.info
global/**/.env


